/*
    Curso de Engenharia de Software - UniEVANGÉLICA 
    Disciplina de Programação Web
    Projeto: Acadium 
    Devs:   Bruno Paiva - 2111579
            Gustavo Morais - 2111296
            João Pedro Braga Gomes- 2110157
            Luana Teixeira de Moraes - 2110867
            Lucas de Carvalho - 2110160
            Vanessa Nassar aji-2311987 
    26/03/2023 
*/
.appButon{
    display: flex; 
    flex-direction: row;
    align-items: center;
    width: 200px;
    gap: 10px;
    padding: 10px;
    border-Radius: 10px;
    border: none;
}